<header>
    <h1>Retroblog</h1>
    <p>Un blog para amantes del retro</p>
  </header>
  <section class="nav">
    <ul>
      <li><a href="/">Consola</a></li>
      <li><a href="/">Videojuegos</a></li>
      <li><a href="/">Ordenador</a></li>
    </ul>
  </section>